/* #human-slop
 *  https://github.com/huydo862003/Fck-AI-Slop/edit/main/README.md
 */

/**
 * @tokens Font sizes
 * @presenter FontSize
 */
@theme static {
  /* Font size scale: minor third ratio (1.2)
   * Tuned for monospace (IBM Plex Mono)
   * Base 14px
   * */
  --text-1: 10px;
  --text-2: 12px;
  --text-3: 14px;
  --text-4: 17px;
  --text-5: 20px;
  --text-6: 24px;
  --text-7: 29px;
  --text-8: 35px;
  --text-9: 42px;
  --text-10: 50px;
  --text-11: 60px;
  --text-12: 72px;
  --text-13: 86px;
}
/** @tokens-end */
