/* #human-slop
 *  https://github.com/huydo862003/Fck-AI-Slop/edit/main/README.md
 */

/**
 * @tokens Font sizes
 * @presenter FontSize
 */
@theme static {
  /* Font size scale, synced with Typedown theme spec
   * Base 16px, Inter variable
   * */
  --text-1: 11px;
  --text-2: 12.5px;
  --text-3: 13.5px;
  --text-4: 16px;
  --text-5: 25px;
  --text-6: 40px;
  --text-7: 40px;
  --text-8: 40px;
  --text-9: 40px;
  --text-10: 40px;
}
/** @tokens-end */
